
.cards_total{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
 
   
        // align-items: center;
    align-items: stretch;
  
}

.card_tamaño{
    
    width: 300px;
    height: 100%;
    padding-bottom: 10px;
    background-image: url('../../images/f3.jpg') ;
    background-size:170% 100%;
    border-radius: 10px;
    .h2{
    font-weight:bold;
    }
    h4{
        
        color: rgb(248, 248, 248);
        text-shadow: 3px 3px 3px black;
       margin:10px;
    }
}
.card_tamaño:hover{
    cursor: pointer;
}


.card_div_name{
background: rgb(65, 65, 70);
    background: linear-gradient(0deg, rgba(65, 65, 70, 1) 0%, rgba(96, 87, 87, 1) 100%);
    color:  white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 8px;
}

.card_level{
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(250, 205, 22);
        background: linear-gradient(115deg, rgba(250, 205, 22, 1) 0%, rgba(247, 181, 21, 1) 50%, rgba(224, 18, 18, 1) 50%);
    margin-bottom: 15px;
}

.card_image{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    
}
.card_diets{
    width: 100px;
    padding: 3px;
    background: rgb(101, 100, 99);
        background: linear-gradient(159deg, rgba(101, 100, 99, 1) 0%, rgba(34, 33, 33, 1) 100%);
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    
    
}
.card_dietas{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    font-size: 0.8rem;
    margin-bottom: 15px;
    justify-content: center;
        align-items: center;
   
}

.card_icodieta{
    text-align: center;
    display: flex;
    background: black;
    width: 150px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
    img{
        width: 50px;
    }
    div{
        background: rgb(218, 93, 10);
        width: 60px;
        border-radius: 50px;
    }
}



.cards_error{
font-size: 0.8rem;
  text-align: center;
justify-content: center;
align-items: center;
h1{
background: rgb(131, 58, 180);
    background: linear-gradient(93deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 2px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 30px;
}
     img{
        position: relative;
        margin-top: 10px;
        width: 500px;
        left: 30px;
     }
}