.filter_all{
    width: 100%;
   
    h3{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        color: rgb(246, 250, 20);
        text-shadow: 5px 5px 5px black;
    }
    hr{
        
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

}
.filter_botton_order{
    width: 80%;
    margin: auto;
display: flex;
flex-wrap: wrap;
margin-bottom: 10px;
gap: 15px;
transition: 2s;
    
}
.filter_no{
margin: auto;
    color: white;
    background: rgb(136, 34, 195);
    background: linear-gradient(93deg, rgba(136, 34, 195, 1) 0%, rgba(45, 119, 253, 1) 100%);
    width: 40%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    transition: 1s;
}
.filter_ok{
    margin: auto;
        color: white;
        background: rgb(233, 195, 26);
        width: 40%;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        transition: 1s;
}











.filterBotton{
    width: 90%;
    margin: auto;
    color: white;
    background: rgb(22, 22, 22);
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    font-size: 0.8rem;
    position: relative;
    gap: 20px;
    
  
}

.botton_movilon{
    
            transition: 2s;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            transform: translateX(30px);
            position: absolute;
          //  right: 5px;   
            transition: 2s;
}
.botton_moviloff{
    transition: 2s;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    margin-left: 2px;
    transition: 2s;
}

.filter_div_bottonon{
    margin: 10px 5px;
        position: absolute;
        width: 50px;
        height: 20px;
        border-radius: 10px;
        background: rgb(20, 211, 245);
        right: 0px;
        transition: 2s;
}
.filter_div_bottonoff{
    margin: 10px 5px;
        position: absolute;
        width: 50px;
        height: 20px;
        border-radius: 10px;
        background: rgb(78, 25, 25);
        right: 0px;
        transition: 2s;
}

.filter_botton_reset{

    background: rgb(214, 30, 30);
    padding: 5px;
    width: 80%;
    display: flex;
    margin: auto;
   
    border-radius: 10px;
    font-size: 0.8rem;
    box-shadow: 3px 3px 3px black;
    color: white;
    h2{
        display: block;
        text-align: center;
        margin: auto;
    }
}