.home_fondo{
    width: 100%;
    height: 100%;
    background-image: url('../../images/f2.jpg');
    background-size: 100% 100%;
    position: fixed;
    z-index: -1;
}
.home_cards{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px;
}
.home_filter{
    width: 20%;
    height: max-content;
    border-radius: 10px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.home_cartas{
    width: 70%;
    padding: 15px;
    background: rgba(248, 248, 248, 0.185);
   border-radius: 10px; 
  
}
@media screen and (max-width: 800px) {
    .home_cards{
        flex-wrap: wrap;
        .home_filter{
            width: 90%;
                
        }
        .home_cartas{
            width: 90%;
            padding: 0;
            margin: auto;
        }
    }
   
    .home_filter{
        background: black;
        position: sticky;
        top: 0;
        z-index: 2;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}