
@mixin slidercontroller($position: 0%){
    width: 500% ;
    height:  500px ;
    display: flex;
    margin-left: $position;
    transition: 3s;
}


.indice_div1{
    position: relative;
    width: 80%;
    margin: 100px auto;
    background:rgba(255, 255, 255, 0.267);
    padding: 10px;
    display: flex;
    gap:80px;
    border-radius: 10px;    
}
.indice_div_slider{
    width: 60%;
    margin: auto;
}
.indice_div_parrafo{
    margin: 40px;
    width: 35%;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 2px black;
    h1{
        margin-bottom: 15px;
        
    }
    h3{
        margin-bottom: 40px;
    }
}



.indice_allSlider{
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s; 
}
.indice_slider{
    transition: 3s;
    @include slidercontroller($position:-0%)
  
}
.indice_slider2{
    transition: 3s;
    @include slidercontroller($position: -100%)
}

.indice_slider3{
        transition: 3s;
        @include slidercontroller($position: -200%)
}
.indice_slider4{
    transition: 3s;
    @include slidercontroller($position: -300%)
}

.indice_fondo{
 
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: -1;
}
.indice_top{
    
    position: absolute;
}


.indice_slide{
            width: 500px;
            height: 300px;
           
}
.image_slide{
width: 500px;
height: 300px;
}

.slide_total{
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    margin: auto;
        
    

}


.indice_image{
    width: 100%;
    height: 100%;
}
.indice_botton{
    text-shadow: 0px 0px 0px black;
    color: white;
    width: 100px;
    padding: 5px;
    background: blue;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    transition: 2s;
    
}
.link{
    text-decoration: none;
}
.indice_botton:hover{
    background: rgb(212, 55, 55);

}


.indice_chef{
    position: absolute;
    width: 350px;
    bottom: 0;
    right: 0;
}