.indice_div1{
    position: relative;
    width: 90%;
    margin: auto;
    background:rgba(17, 17, 17, 0.425);
    padding: 10px;
    gap:80px;
    border-radius: 10px;   
    margin-bottom: 50px; 
    margin-top: 50px;
}
.indice_div_slider{
    width: 100%; 
    position: relative;
    
}


.indice_div_parrafo{
    margin: 40px;
    width: 80%;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 2px black;
    h1{
        margin-bottom: 15px;
        
    }
    h3{
        margin-bottom: 40px;
    }
}






.indice_fondo{
 
    width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    z-index: -1;
}
.indice_top{
    position: absolute;
  
}

.fondo_indice{
background-image: url("../../images/f3.jpg");
    font-size: 100% 100%;
    position: fixed;
    background-attachment: fixed;
        background-size: cover;
    width: 100%;
    height: 100%;
    
}




.indice_botton{
    background: rgb(135, 2, 236);
        background: linear-gradient(93deg, rgba(135, 2, 236, 1) 0%, rgba(237, 12, 62, 1) 100%);
    color: white;
    width: max-content;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    transition: 2s;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;

    
}
.link{
    text-decoration: none;
}
.indice_botton:hover{
background: rgb(101, 100, 99);
    background: linear-gradient(159deg, rgba(101, 100, 99, 1) 0%, rgba(119, 244, 34, 1) 100%);

}



.slide_image_relative {
position: relative;
    border-radius: 10px;

    .slide_image {
        display: flex;
            width: 80%;
            margin: auto;
            position: relative;
         
    
            img{
    border-radius: 20px;
            }
            .slide_off {
                transition: 2s;
                opacity: 1;
                width: 100%;
                height: 500px;
            }
    
            .slide_on {
                opacity: 0;
                width: 100%;
                height: 500px;
            }
    
            button {
                display: none;
            }

                        

        }


}


@media screen and (max-width: 800px) {
.slide_image_relative{
.slide_image{
.slide_off {
        height: 250px;
    }

    .slide_on {
        height: 250px;
    }
}
   
}
}
