.map_card_component{
  
    
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: center;
        // align-items: center;
}

.mapcard_botton{ 
    padding: 5px;
    text-align: center;
    background: rgb(20, 138, 192) ;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    transition: 1s;
    
}
.mapcard_here{
        padding: 5px;
        text-align: center;
        background: rgb(199, 197, 197);
        border-radius: 10px;
        box-shadow: 2px 2px 2px black;
        font-size: 0.8rem;
       
}
.map_card_prev{
   
     border-right: 15px solid rgb(255, 252, 252);
    // border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
     text-shadow: 5px 5px 5px black;
}
.map_card_next{
    border-left: 15px solid rgb(255, 252, 252);
    // border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    text-shadow: 5px 5px 5px black;
}
.map_card_null{
    display: none;
}