//ui sentting


//components
@import './components/indice';
@import './components/card';
@import './components/home';
@import './components/filter';
@import './components//mapcard';
@import './components/search';
@import './components/Detail';
@import './components/form';